.section
	padding 40px 0
	text-align justify

	h1
		font-weight 200
		line-height 1em
		margin 0 0 .8em
		font-size 1.8em

#anchor1
#anchor3
#anchor5
	background #658bcb

.main-nav
	position fixed
	background colorText
	left 0
	top 0
	right 0

	ul
		container()
		padding 0
		list-style none
		display table

	li
		display table-cell
		width 20%

	a
		display block
		margin auto
		color colorBackground
		width 60px
		line-height 60px
		text-align center
		background #ccc